<%include partials/header %>
<h1><%= title %></h1>

<div class="container">
    <div class="jumbotron">
        <p>Dashboard</p>        
    </div>
    <div class="data-table">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>OrderID</th>
                    <th>Quantity</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="items_table_body">
                <% if(orderData.length){
                    for (var i = 0; i < orderData.length; i++) { %>
                    <tr>
                        <td><%=(i+1)%></td>
                        <td><%=orderData[i].orderID%></td>
                        <td><%=orderData[i].totalQuantity%></td>
                        <td><%=orderData[i].orderTime%></td>
                        <td>
                            <a href="/orders/view/<%=orderData[i].orderID%>" button class="btn btn-primary">View Order</button> 
                        </td>
                    </tr>
    
                    <%  }
                }else{ %>
    
                <% } %>
                </tbody>

        </table>
    </div>
</div>

   
</div>
<%include partials/footer %>