<%include partials/header.ejs %>
<div class = "data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>ID</th>
            <th>Manufacturer</th>
            <th>Name</th>
            <th>Model</th>
            <th>Quantity</th>

        </tr>
        <% if(data.length){
            for (var i = 0; i < data.length; i++) { %>

            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].id%></td>
                <td><%=data[i].manufacturer%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].model%></td>
                <td><%=data[i].quantity%></td>
            </tr>

            <%  }
         }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>

        <% } %>

    </table>
</div>
<%include partials/footer.ejs %>