<%include partials/header.ejs %>

<div class="container">
    <h3>Add Item</h3>
<form method="POST" action="/customers/add">
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" placeholder="Model">
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" id="weight" placeholder="Weight">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Price">
      </div>        
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" placeholder="">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div> 
</div>

<div class="container">
    <div class = "data-table">
        <table class ="table table-striped">
            <tr>
                <th>Row #</th>
                <th>ID</th>
                <th>Manufacturer</th>
                <th>Name</th>
                <th>Model</th>
                <th>Quantity</th>

            </tr>
            <% if(data.length){
                for (var i = 0; i < data.length; i++) { %>
    <!-- error here -->
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].manufacturerName%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].model%></td>
                    <td><%=data[i].quantity%></td>
                </tr>

                <%  }
            }else{ %>
                <tr>
                    <td colspan="3">No user</td>
                </tr>

            <% } %>

        </table>
    </div>

</div>
<%include partials/footer.ejs %>