<%include ../partials/header.ejs %>


<main class="container">

  <div class="container">
    <form action="/items/search" method="POST" id="order_search_form">
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="orderStartDate">
            </div>
          </div>
          <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="orderEndDate"> 
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>

  <div class="container">
    <div class="data-table">
      <table class="table table-striped">
          <thead class="thead-inverse">
              <tr>
                  <th>#</th>
                  <th>OrderID</th>
                  <th>Quantity</th>
                  <th>Time</th>
                  <th>Status</th> 
                  <th></th>

              </tr>
          </thead>

          <tbody class="order_table_body">
              <% if(orderData.length){
                  for (var i = 0; i < orderData.length; i++) { %>
                  <tr>
                      <td><%=(i+1)%></td>
                      <td><%=orderData[i].orderID%></td>
                      <td><%=orderData[i].totalQuantity%></td>
                      <td><%=orderData[i].orderTime%></td>
                      <%if (orderData[i].orderFulfilled === 1) { %>
                          <td>Fulfilled</td>
                      <% } else {%>
                          <td>Open</td>
                      <% }%>
                      <td>
                          <a href="/orders/view/<%=orderData[i].orderID%>" button class="btn btn-primary">View Order</button> 
                      </td>
                  </tr>

                  <%  }
              }else{ %>

              <% } %>
              </tbody>

      </table>
    </div>
</div>
</main>

<%include ../partials/footer.ejs %>