<%include ../partials/header.ejs %>


<main class="container">
    <div class="container">
    <form class="form-inline" form action="/items/search" method="POST" id="order_search_form">
        <label class="mr-sm-2" for="startDateInput">Start Date</label>
        <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" value="2018-01-01" id="orderStartDate">

        <label class="mr-sm-2" for="endDateInput">End Date</label>
        <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" value="2018-12-01" id="orderEndDate">

        
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Fullfillment Status</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="fulfillmentStatusSelection">
                        <option selected value="*">Any</option>
                        <option value="0">Open</option>
                        <option value="1">Fulfilled</option>
                        </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <br>
    <div class="container">
    <div class="data-table">
      <table class="table table-striped">
          <thead class="thead-inverse">
              <tr>
                  <th>#</th>
                  <th>OrderID</th>
                  <th>Quantity</th>
                  <th>Time</th>
                  <th>Status</th> 
                  <th></th>

              </tr>
          </thead>

          <tbody class="order_table_body">
              <% if(orderData.length){
                  for (var i = 0; i < orderData.length; i++) { %>
                  <tr>
                      <td><%=(i+1)%></td>
                      <td><%=orderData[i].orderID%></td>
                      <td><%=orderData[i].totalQuantity%></td>
                      <td><%=orderData[i].orderTime%></td>
                      <%if (orderData[i].orderFulfilled === 1) { %>
                          <td>Fulfilled</td>
                      <% } else {%>
                          <td>Open</td>
                      <% }%>
                      <td>
                          <a href="/orders/view/<%=orderData[i].orderID%>" button class="btn btn-primary">View Order</button> 
                      </td>
                  </tr>

                  <%  }
              }else{ %>

              <% } %>
              </tbody>

      </table>
    </div>
    </div>
</main>

<%include ../partials/footer.ejs %>